TARGET_RPC_URL=https://api.infra.mainnet.somnia.network/
TARGET_NFT_CONTRACT=0x90780d0641a6328719a636ab289175e2155328a3
TARGET_CHAIN_LABEL=somnia-mainnet
TARGET_COLLECTION_LABEL=quills-adventure
PORT=8080
